/*
CSS for pages from Svenja
*/
#intro {
	font-size:1.5em;
	margin: 30px 0 30px 0;
}

.pointout{
	font-size:1.2em;
}

.justify {
	font-family:Times;
	text-align:justify;
}

.quote {
	font-family:Times;
	font-size:1.2em;
}

.general-page {
	font-family:Times;
	font-size:22em";
}
