* linguist-documentation
code/ linguist-documentation=false
code/scss/bootstrap/* linguist-vendored
code/css/* linguist-vendored
code/fonts/* linguist-vendored
code/js/jquery/* linguist-vendored
code/js/libs/* linguist-vendored
