scss/bootstrap/* linguist-vendored
css/* linguist-vendored
fonts/* linguist-vendored
js/jquery/* linguist-vendored
abfall_und_nostalgie/* linguist-vendored
js/libs/* linguist-vendored
documents/* linguist-documentation
abfall_und_nostalgie/* linguist-vendored
