/* DOCUMENT */

html {
    height: 100%;
    overflow-y: hidden;
    font-size: $tgd-font-size;
}

body {
    height: 100%;
    margin: 0;
    padding: 50px 0 0; //save content from navbar
    overflow: auto;

    &.modal-open {
        overflow-y: none;
        padding-right: inherit !important;
    }
}

.jumbotron {
    background-color: $tgd-secondary-color;

    .jumbotron-header {
        color: $tgd-font-contrast-color;
        //border: 1px solid $tgd-font-contrast-color;

        h3 {
            margin-top: 10px;
            font-size: 36px;
        }
    }

    .jumbotron-content {
        margin-top: 10px;
        font-size: $tgd-font-size;
        color: $tgd-font-contrast-color;

    }

    p {
        font-size: $tgd-font-size-description+0.1;
    }
}

#wrapper {
    min-height: 100%;
    position: relative;

    #content {
        padding-bottom: $tgd-footer-height + 100px;

        .pointout {
        	font-size: $tgd-pointout-font-size;

        }
    }

    footer {
        bottom: 0;
        left: 0;
        position: absolute;
        width: 100%;
        border-top: 1px solid $tgd-primary-color;

        &.page-footer {
            height: $tgd-footer-height;
            background-color: $tgd-footer-color;
            color: $tgd-font-contrast-color;
        }
    }

}

.el-spacing-left {
    margin-left: 10px;
}

/* GRID */

.row-content {
    @include row-margin;
}

.row-spacing {
    margin-top: $tgd-vertical-gap;
}

.row-spacing-lg {
    margin-top: 2*$tgd-vertical-gap;
}

/* NAVIGATION */

.navbar {
    border-bottom: 1px solid $tgd-primary-color;
    font-size: 14px;
    // fix chrome fixed navbar bug
    transform: translateZ(0);

    .navbar-brand {
        color: darken($tgd-navfont-color, 15);

        img {
            margin-top: -8px;
            filter: invert(0%);
        }
    }

    .nav {
        li {
            text-align: center;

            a {
                //-webkit-transition: background-color 0.3s, color 0.3s;
                //transition: background-color 0.3s, color 0.3s;
                color: $tgd-navfont-color;

                &:hover {
                    background-color: $tgd-nav-hover-color;
                    color: $tgd-navfont-color;
                }

                &:focus {
                    color: $tgd-navfont-color;
                }
            }
        }
    }
}

.sidebar {
    top: 50px;
}

a {
    outline: none !important;
    color: inherit;

    &.active {
        color: $tgd-active-link-color;
    }

    &:hover {
        text-decoration: none;
    }
}

.analysis-swapper {
    color: $tgd-inactive-link-color;
    font-size: 40px;

    a {

        color: lighten($tgd-inactive-link-color, 20);
        cursor: pointer;

        &.active {
            color: $tgd-active-link-color;

            &:hover {
                color: darken($tgd-active-link-color, 5);
            }
        }
    }

    a:hover {
        color: lighten($tgd-inactive-link-color, 15);
    }
}

/* FORMS */

textarea {
    resize: none;
}

select {
    option {
        &[disabled] {
            color: $gray-lighter;
        }
    }
}

fieldset {
    input[type="radio"] {
        margin-right: 10px;
    }
}

/* ELEMENTS */

.pointout-font {
    font-size: $tgd-font-size-title;
    color: $tgd-primary-color;
    font-weight: bold;
}

.obvious-link {
    color: $tgd-secondary-color;
}

.error-alert {
    margin: 20px 15px;
}

.modal-body {
    padding: 20px 50px;

    .modal-title {
        color: $tgd-primary-color;
        font-size: $tgd-font-size-modal-title;
        text-align: center;
        margin: 10px 0 20px;
    }
}

// titles
.title {
    color: $tgd-primary-color;
    font-size: $tgd-font-size-title;
    font-weight: normal;
}

.subtitle {
    color: $tgd-primary-color;
    font-size: $tgd-font-size-subtitle;
}

.title-description {
    color: $tgd-primary-color;
    font-size: $tgd-font-size-description;
}

.title-hline {
    padding-bottom: 10px;
    border-bottom: 2px solid $tgd-primary-color;
    margin-bottom: $tgd-vertical-gap;
}

.info {
    @include top-bottom-margin;
    @include left-right-margin;
    font-weight: bold;
}

.info-container {
    border: 0 solid $tgd-primary-color;
    //padding: $tgd-default-padding;
}

.picture-description {
    display: flex;
    align-items: center;
    height: 100%;
    color: $tgd-secondary-color;
    font-style: italic;

}

/* BOOTSTRAP */

.progress-bar {
    transition: none !important;
}
