/* DOCUMENT */

html {
    height: 100%;
    max-width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: $tgd-font-size;
}

body {
    height: 100%;
    max-width: 100%;
    //overflow-y: auto;
    //overflow-x: hidden;
    margin: 0;
    padding: 50px 0 0; //save content from navbar

    &.modal-open {
        overflow-y: none;
        padding-right: inherit !important;

    }
}


.jumbotron {
    background-color: $tgd-secondary-color;
    position: fixed;
    width: 100%;
    margin: 0;
    z-index: 1;

    .jumbotron-header {
        color: $tgd-font-contrast-color;
        //border: 1px solid $tgd-font-contrast-color;

        h3 {
            margin-top: 10px;
            font-size: 36px;
        }
    }

    .jumbotron-content {
        margin-top: 10px;
        font-size: $tgd-font-size;
        color: $tgd-font-contrast-color;

    }

    p {
        font-size: $tgd-font-size-description+.1;
    }
}

#wrapper {
    min-height: 100%;
    position: relative;

    #content {
        padding-top: $tgd-vertical-gap;
        top: $tgd-header-height + 12px;
        width: 100%;
        margin: 0;
        background-color: #fff;
        z-index: 2;
        position: relative;

        padding-bottom: $tgd-footer-height + 100px;

        .pointout {
        	font-size: $tgd-pointout-font-size;

        }
    }

    footer {
        color: $tgd-footer-font-color;

        bottom: -$tgd-header-height - 12px;
        left: 0;
        position: absolute;
        width: 100%;

        //border-top: 1px solid $tgd-primary-color;
        padding: 20px 0;

        font-size: $tgd-font-size+.2;

        z-index: 3;

        &.page-footer {
            min-height: $tgd-footer-height;
            background-color: $tgd-footer-color;
        }
    }

}

.el-spacing-left {
    margin-left: 10px;
}

/* GRID */

.row-content {
    @include row-margin;
}

.row-spacing {
    margin-top: $tgd-vertical-gap;
}

.row-spacing-lg {
    margin-top: 2*$tgd-vertical-gap;
}

/* NAVIGATION */

.navbar {
    //border-bottom: 1px solid $tgd-nav-footer-border-color;
    border: 0;
    text-transform: uppercase;
    font-size: $tgd-font-size-nav;

    // fix chrome fixed navbar bug
    transform: translateZ(0);

    font-weight: bold;
    padding-top: $tgd-nav-hoverbar-height;

    .navbar-brand {
        filter: brightness(100);

        img {
            margin-top: -8px;
            filter: invert(0%);
        }
    }

    .nav {
        li {
            text-align: center;

            a {
                //-webkit-transition: background-color 0.3s, color 0.3s;
                //transition: background-color 0.3s, color 0.3s;
                color: $tgd-navfont-color;
                border-bottom: $tgd-nav-hoverbar-height inset transparent;

                &:hover {
                    //background-color: $tgd-nav-hover-color;
                    color: $tgd-navfont-color;
                    border-bottom: $tgd-nav-hoverbar-height inset $tgd-primary-color;
                }

                &:focus {
                    color: $tgd-navfont-color;
                }

            }

            &.open {
                a, a:hover, a:focus, a:visited {
                    background-color: $tgd-nav-color;

                }

            }
        }

        ul.dropdown-menu {
            left: 50%;
            right: auto;
            text-align: center;
            transform: translate(-50%, 0);
            text-align: center;
            background-color: $tgd-nav-color;
            margin-top: -1px;
            border: 0;
            font-size: $tgd-font-size-nav*.8;

            a {
                padding: 5px 0;
                color: $tgd-navfont-color;
                border-bottom: $tgd-nav-hoverbar-height inset transparent;

                &:hover {
                    background-color: transparent;
                    color: $tgd-nav-hover-color;
                }

                &:focus {
                    color: $tgd-navfont-color;
                }
            }
        }
    }
}

.sidebar {
    top: 50px;
}

a {
    outline: none !important;
    color: inherit;

    &.active {
        color: $tgd-active-link-color;
    }

    &:hover {
        text-decoration: none;
    }
}

.analysis-swapper {
    color: $tgd-inactive-link-color;
    font-size: 40px;

    a {

        color: lighten($tgd-inactive-link-color, 20);
        cursor: pointer;

        &.active {
            color: $tgd-active-link-color;

            &:hover {
                color: darken($tgd-active-link-color, 5);
            }
        }
    }

    a:hover {
        color: lighten($tgd-inactive-link-color, 15);
    }
}

/* FORMS */

textarea {
    resize: none;
}

select {
    option {
        &[disabled] {
            color: $gray-lighter;
        }
    }
}

fieldset {
    margin-bottom: 10px;

    input[type="radio"] {
        margin-right: 10px;
    }
}

.validation-notification {
    color: red;
    padding-top: 5px;
    padding-left: 0;
}

/* ELEMENTS */

.font-large {
    font-size: $tgd-font-size * 1.5;
}

.font-huge {
    font-size: $tgd-font-size * 2;
}

.pointout-font {
    font-size: $tgd-font-size-title;
    color: $tgd-primary-color;
    font-weight: bold;
}

.obvious-link {
    color: $tgd-secondary-color;
}

.error-alert {
    margin: 20px 15px;
}

.modal-body {
    padding: 20px 50px;

    .modal-title {
        color: $tgd-primary-color;
        font-size: $tgd-font-size-modal-title;
        text-align: center;
        margin: 10px 0 20px;
    }
}

.tablist-tiny {
    &.nav-tabs {
        border-bottom: 0;
    }

    li {
        font-weight: bold;

        &.active {
            a {
                border: 0;
                color: $tgd-primary-color;

                &:hover, &:focus, &:visited, &:active {
                    color: darken($tgd-primary-color, 20);
                    border: 0;
                    background-color: transparent;
                }
            }
        }

        a {
            border: 0;
            border-radius: 0;
            color: $tgd-inactive-link-color;

            &:hover, &:focus, &:visited, &:active {
                color: darken($tgd-inactive-link-color, 20);
                border: 0;
                background-color: transparent;
            }
        }
    }
}

// titles
.title {
    font-size: $tgd-font-size-title;
    color: $tgd-primary-color;
    font-weight: normal;
}

.subtitle {
    color: $tgd-primary-color;
    font-size: $tgd-font-size-subtitle;
}

.title-small {
    text-transform: uppercase;
    color: $tgd-primary-color;
}

.title-description {
    color: $tgd-primary-color;
    font-size: $tgd-font-size-description;
}

.title-hline {
    padding-bottom: 10px;
    border-bottom: 2px solid $tgd-primary-color;
    margin-bottom: $tgd-vertical-gap;
}

.info {
    @include top-bottom-margin;
    @include left-right-margin;
    font-weight: bold;
}

.info-container {
    border: 0 solid $tgd-primary-color;
    //padding: $tgd-default-padding;
}

.picture-description {
    display: flex;
    align-items: center;
    height: 100%;
    color: $tgd-secondary-color;
    font-style: italic;

}

.profile-information-title {
    font-size: $tgd-font-size-subtitle;
    color: $tgd-primary-color;
}

.profile-information {
    font-size: $tgd-font-size-title;
    color: $tgd-font-color;
}


/* BOOTSTRAP */

.progress-bar {
    transition: none !important;
}
