.score-avg {
	color: $tgd-avg-color;
	font-size: $tgd-font-size-title;
}

.score-min {
	color: $tgd-min-color;
	font-size: $tgd-font-size-title;
}

.score-max {
	color: $tgd-max-color;
	font-size: $tgd-font-size-title;
}
