/* COLORS */

// DESIGN COLORS
$tgd-bg-color: #fff;
$tgd-primary-color: rgb(42, 147, 207);
$tgd-secondary-color: darken($tgd-primary-color, 20);

$tgd-nav-color: #2f2f2f;
$tgd-nav-footer-border-color: #000;
$tgd-nav-hover-color: $tgd-primary-color;
$tgd-footer-color: #2f2f2f;

$tgd-inactive-link-color: #b3b3b3;
$tgd-active-link-color: $tgd-primary-color;


$tgd-font-color: #000;
$tgd-font-contrast-color: #fff;
$tgd-navfont-color: #fff;
$tgd-footer-font-color: #b1b1b1;

// STATISTIC COLORS
$tgd-score-color: #add8e6;
$tgd-ratio-color: #008000;

// ALIGNMENT COLORS
$tgd-correct-color:     #90ee90;
$tgd-missing-word-color: #ff5400;
$tgd-wrong-color:       #f33;
$tgd-minor-mistake-color: #f6ba07;

// LEVENSHTEIN COLORS
$tgd-match-color: #84c140;
$tgd-sub-color: #b40000;
$tgd-insert-color: #ff5b28;
$tgd-deletion-color: #e00dde;
$tgd-punctuation-color: #6cd3ff;
$tgd-capitalization-color: #ffe145;
$tgd-switch-color: #ffa100;
$tgd-unknown-color: rgb(112, 112, 112);

/* TEXT STYLING */
$tgd-font-family: Helvetica, sans-serif;

$tgd-font-size: 1em;
$tgd-font-size-nav: 1.1em;

$tgd-font-size-subtitle: 1.5em;
$tgd-font-size-description: 1.2em;
$tgd-font-size-title: 2.5em;
$tgd-font-size-modal-title: 1.5em;
$tgd-pointout-font-size: 1.2em;

/* PAGE STRUCTURE */
$tgd-footer-height: 200px;

/* GRID */
$tgd-vertical-gap:      40px;
$tgd-horizontal-gap:    15px;

/* ELEMENTS */
$tgd-default-padding: 15px;

$tgd-nav-hoverbar-height: 5px;
