/* COLORS */

// DESIGN COLORS
$tgd-bg-color: white;
$tgd-primary-color: rgb(55, 55, 75);
$tgd-secondary-color: lightblue;


$tgd-navfont-color: white;
$tgd-font-color: black;
$tgd-font-contrast-color: white;

// ALIGNMENT COLORS
$tgd-correct-color:     #90ee90;
$tgd-wrong-color:       #ff3333;
$tgd-minor-mistake-color: #f2510c;

// LEVENSHTEIN COLORS
$tgd-match-color: none;
$tgd-insert-color: #e93d17;
$tgd-deletion-color: #e0590d;
$tgd-sub-color: #ee1313;
$tgd-punctuation-color: #6cd3ff;
$tgd-capitalization-color: #ffe145;
$tgd-switch-color: #ffbe4f;

/* PAGE STRUCTURE */
$tgd-footer-height: 150px;

/* GRID */
$tgd-vertical-gap:      25px;
$tgd-horizontal-gap:    15px;
