/* DOCUMENT */

body {
    //save content from navbar
    padding:            50px 0 0 0;
}

/* GRID */

.row-content {
    @include row-margin;
}

.col-content {
    @include col-margin;
}

/* NAVIGATION */

.navbar {    
    .navbar-brand {
        img {
            margin-top: -8px;
        }
    }
    
    .nav {
        li {
            &:hover {
                background-color: $gray-lighter;
            }
        }
    }
}

a {
    outline:            none !important;
}

/* FORMS */

textarea {
    resize:     none;
}

select {
    option {
        &[disabled] {
            color:  $gray-lighter;
        }
    }
}

/* STYLING */

.info {
    @include top-bottom-margin;
    @include left-right-margin;
    font-weight: bold;
}

.jumbotron {
    &.title-jumbo {
        background-color: $tgd-secondary-color;
    }
}

.spelling {
    padding: 5px;
    &.sp-wrong {
        background-color: $tgd-wrong-color;
    }
    &.sp-correct {
        background-color: $tgd-correct-color;
    }
}