/* COLORS */

$tgd-main-color:        blue;
$tgd-secondary-color:   lightblue;

$tgd-correct-color:     #90ee90;
$tgd-wrong-color:       #ff3333;
$tgd-minor-mistake-color: #1076d4;

/* GRID */

$tgd-vertical-gap:      25px;
$tgd-horizontal-gap:    15px;
