/* COLORS */

$tgd-main-color:        blue;
$tgd-secondary-color:   lightblue;

$tgd-correct-color:     lightgreen;
$tgd-wrong-color:       salmon;
$tgd-unlabeled-color:   gray;

/* GRID */

$tgd-vertical-gap:      25px;
$tgd-horizontal-gap:    15px;

