<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-title">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h3 class="modal-title text-center" id="login-modal-title">Sign In</h3>
					</div>

					<div class="modal-body">

						<!-- LOGIN -->
						<div class="row">
							<div class="col-xs-12 modal-title">
								Sign In or register a new data collection identity
							</div>
						</div>

						<form class="form-horizontal" id="login-form" action="#">
							<div class="form-group row">
								<label class="control-label col-xs-12 col-sm-3">
									Username
								</label>
								<div class="col-xs-12 col-sm-3" for="name">
									<input type="text" id="login-username" name="username" class="form-control" required/>
								</div>
							<!--
								<label class="control-label col-xs-12 col-sm-3">
									Password
								</label>
								<div class="col-xs-12 col-sm-3">
									<input type="text" class="form-control" />
								</div>
							-->
							</div>

							<div class="form-group row">
								<div class="col-xs-12 col-sm-1 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">Sign In</button>
								</div>

								<div class="col-xs-12 col-sm-1">
									<a class="el-spacing-left btn btn-default" href="?p=register" role="button">or register</a>
								</div>
							</div>

						</form>

					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>

				</div>
			</div>
		</div>

		<script src="js/async_calls/login.js"></script>
