body {
    font-family: "Courier New", Courier, monospace;
}

.page-title {
    text-align: center;
	margin-top: 50px;
}

h4.page-title {
    text-align: center;
	margin-top: -15px;
}

#main-wrapper {
    width: 855px;
    height: 100%;
    margin: 0 auto;
    padding: 0 25px 0 25px;
	margin-bottom: 200px;
}

/* GRID */
.row {
    width: 900px;
    padding-left: 25px;
    margin: 20px 0 20px 0;
    display: inline-block;
}

.row.title-row {
	margin-top: 50px;
}

.col {
    width: 180px;
    float:left;
    margin-right: 25px;
}

.task-single, .task-all {
    padding: 10px;
    font-size: 12pt;
    
    margin-bottom: 10px;
    outline: 1px solid black;
}

.task-single {
    width: 160px;
}

.task-all{
    width: 775px;
	float: left;
}

.title {
    text-align: center;
    font-size: 16pt;
    width: 160px;
    
    padding: 10px;
    margin-right: 25px;
    
    float: left;
}

.empty {
    outline: none;
    background: none;
    display: inline-block;
}

/* STATUS */

.pending {
    background-color: #fecaab;
}

.done {
    background-color: #c8ff91;
}

.urgent {
    background-color: red;
}

.important {
    background-color: #8a291c;
    color: white;
    text-align: center;
}

.delayed {
    background-color: #dddddd;
    color: #b6b6b6;
}

.not-allocated {
    text-align: center;
    background-color: #1c5595;
	color: white;
}

.date {
    font-size: 14pt;
    text-align: center;
    outline: none;
}

/* STRUCTURES */

.due-date {
    width: 855px;
    display: inline-block;
    border-bottom: solid 2px black;
	margin-top: 10px;
}

.legend {
    width: 855px;
    display: inline-block;
	margin-top: 10px;
}

.task-single .task-heading, .task-all .task-heading {
    border-bottom: solid 1px black;
    font-weight: bold;
	margin: -10px -10px 5px -10px;
	padding: 5px;
	text-align: center;
	color: white;
	background-color: #2c2d2e;
}

.collapse {
    display:block;    
}

button.collapse-button {
	float: right;
	border: none;
	background-color: inherit;
	cursor: pointer;
	outline:none;
}